*{ box-sizing: border-box;}
html{font-size: 32px;}
body{margin: 0;}

.container{
    width: 350px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#clock{
    border:1px solid #dedede; 
    width:600px; height:250px; 
    line-height:250px;
    color:#666; 
    font-size:100px; 
    text-align:center;
}

button{
    font-size: 0.5em;
    width : 100px;
    height: 40px;
    border:none;
    border-radius: 6px;
    color:white;
    background-color:silver;
    cursor:pointer;
}
